.parent1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.child {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 50%;
}

.subchild {
    font-size: 60px;
    color: black;
    width: 100%;
    height: 33%;
    text-align: center;
}